---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Andrea Baleani — PhD student.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			I am a first year Ph.D. student in Numerical Analysis at Scuola Normale Superiore, Italy.
		</p>
		<p>
			My research is primarily in numerical linear algebra. I am especially interested in
			hierarchical matrices, rational approximation and matrix functions.
		</p>
		<p>
			Here you can find my <a class="cactus-link inline-block" href="/cv.pdf" target="_blank" rel="noreferrer">CV</a>.
		</p>
	</div>
</PageLayout>
