---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Andrea Baleani — PhD student.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-sm prose-cactus max-w-none -mt-8">
		<p>
			Here you can find my <a class="cactus-link inline-block" href="/cv.pdf" target="_blank" rel="noreferrer">CV</a>.
		</p>

		<h2>Conferences and Summer Schools</h2>
		<ul>
			<li>ILAS 2026, Virginia Tech</li>
			<li>GIMC SIMAI Young 2026, Pisa</li>
			<li>Dobbiaco International Summer School 2026, Numerical optimization and randomized linear algebra</li>
		</ul>

		<h2>Talks</h2>
		<ul>
			<li>
				<a class="cactus-link inline-block" href="https://pysanum.dm.unipi.it/" target="_blank" rel="noreferrer">PYSANUM</a>
				seminar, Pisa 2026
			</li>
			<li>
				MS 36 contribution, ILAS 2026
				&mdash;
				<a class="cactus-link inline-block" href="/ilas-2026-ms36.pdf" target="_blank" rel="noreferrer">slides</a>
			</li>
		</ul>

		<h2>Personal</h2>
		<ul>
			<li>Tennis addicted. Play with me, coach me or both!</li>
			<li>Boardgame nerd. Help me expand my collection.</li>
			<li>(Not a good one but more than a) campfire guitar player.</li>
			<li>Home cook since childhood.</li>
		</ul>
	</div>
</PageLayout>
